.container{
  display:flex;
  flex-direction: column;
  height:100vh;
}
.header{
  flex:20%;
  aspect-ratio: 6/1;
  background-color: Brown;
  background: url("images/money.jpg") center;
}
.menu{
  flex:5%;
  background-color: Yellow;
  display: flex;
  align-items: center;
  color: black
}
.menu a{
  padding: 15px 20px;
  color: Cedar;
}
.menu a:hover{
  background-color: Black;
  color: white;
}
.content{
  flex:70%;
  background-color: Yellow;
}
.content iframe{
  flex:1;
  border: none;
  width: 100%;
  height:100%;
}
.footer{
  flex:5%;
  background-color: Brown;
}
h1 {
  color: Red;
  top-margin: 25pt;
}
.tuade {
  color: Yellow;
  font-family: Arial;
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;
}
.noidung {
  color: black;
  top-margin: 6pt;
  font-size: 15pt;
  font-weight: bold;
}
